.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 40px;
    width: 30px;
}

.navbar-brand {
    float: left;
    width: 264px;
}
.page-content {
    background-color: #EAEAE0;
    position: relative;
    margin: 0;
    padding: 8px 10% 24px;
}
.bg-origin{
    /*background: #C5D335!important;*/
}

.dd-handle, .dd2-content {
     font-weight: 500; 
}
#dc_animated{
	height: 200px;
}
.mapa{
	height: 250px;
}

.dropzone {
    border-radius: 0;
    border: 7px solid #FFF;
    color:red
}
.read-more { 
  cursor: pointer;
    font-size: 20px;
    color: #3085C9;    
}

.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 40px;
    width: 30px;
}