
.page-content {
    background-color: #EAEAE0;
    position: relative;
    margin: 0;
    padding: 8px 10% 24px;
}
.bg-origin{
    background: #C5D335!important;
}

.dd-handle, .dd2-content {
     font-weight: 500; 
