.ace-nav>li {
    border-left: 1px solid #5D5D5D;
}
.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 40px;
    width: 30px;
}

.navbar-brand {
    float: left;
    width: 264px;
}

/* some elements used in demo only */
.spinner-preview {
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 60px;
}

.dropdown-preview {
	margin: 0 5px;
	display: inline-block;
}
.dropdown-preview  > .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 5px;
}

.widget-header img{
	text-align: center;
	width: 100%;
    /*-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 200px;
    background: #940F0F;
    background-image: -webkit-linear-gradient(top,#754C4C 0,#AD3C3C 100%);
    background-image: -o-linear-gradient(top,#fff 0,#eee 100%);
    background-image: linear-gradient(to bottom,#C5D335 0,#0E0E0E 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    color: #666666;
    border-bottom: 1px solid #DDD;*/
    
}
.widget-header {
	padding: 10px 10px 10px 10px;

}