.ace-nav>li {
    border-left: 1px solid #5D5D5D;
}
.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 40px;
    width: 30px;
}

.navbar-brand {
    float: left;
    width: 264px;
}