/*
	por David Criollo
	una iniciativa de bussines group
	nextbook.ec
*/

.navbar {
    background: #3085C9;
        height: 40px!important;
        min-height: 40px;
}
.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
}

.ace-nav>li {
    line-height: 40px;
    height: 40px;
    border-left: 1px solid #3085C9;
    padding: 0;
    position: relative;
    float: left;
}
.ace-nav>li>a:hover, .ace-nav>li>a:focus, .ace-nav>li.open>a {
    background-color: #0077D7;
    color: #FFF;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #0077D7;
    border-color: #337ab7;
}
.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 30px;
}
.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 27px;
    position: relative;
    top: 6px;
}

.dropdown-menu.dropdown-close.dropdown-menu-right {
    left: auto;
    right: 0px;
}
.dropdown-navbar>li>a {
    padding: 10px 2px;
    margin: 0;
    border-top: 1px solid;
    font-size: 15px;
    line-height: 16px;
    color: #555!important;
    background-color: transparent!important;
    white-space: normal;
    border-top-color: #E4ECF3;
}